<a href="https://colab.research.google.com/github/sarahcodebyte/sds-pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1-28

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.1.5

In [3]:
pd.show_versions()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

INSTALLED VERSIONS
------------------
commit           : b5958ee1999e9aead1938c0bba2b674378807b3d
python           : 3.7.12.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.104+
Version          : #1 SMP Sat Jun 5 09:50:34 PDT 2021
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.1.5
numpy            : 1.19.5
pytz             : 2018.9
dateutil         : 2.8.2
pip              : 21.1.3
setuptools       : 57.4.0
Cython           : 0.29.24
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.5
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.2.6
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 5.5.0
pandas_datareader: 0.9.0
bs4              : 4.6.3
bottleneck       : 1.3.2
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 2.5.9
pandas_gbq       : 0.13.3
pyarrow          : 3.0.0
pytables         : None
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.4.23
tables           : 3.4.4
tabulate         : 0.8.9
xarray           : 0.18.2
xlrd             : 1.1.0
xlwt             : 1.3.0
numba            : 0.51.2

In [7]:

import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data , index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [8]:
print("First three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [9]:
print("Select specific columns and rows:")
print(df.iloc[0, 1])

Select specific columns and rows:
2.5

In [11]:
print(df.iloc[[3, 4, 8], [0, 1]])

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [13]:
print(df[df['visits'] >= 3])

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [14]:
print(df[df['age'].isnull()])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [16]:
print(df[(df['animal'] == 'cat') & (df['age'] < 3)])

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [17]:
print(df[(df['age'] > 2) & (df['age'] <= 4)])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

In [18]:
df.loc['f', 'age'] = 1.5

In [24]:
df["visits"] = df.sum(axis=1)

In [25]:
print(df['age'].mean())

3.375

In [27]:
df.loc['k'] = ['lizard', 5, 1, 'yes']
print(df)

   animal  age  visits priority
a     cat  2.5     8.5      yes
b     cat  3.0    12.0      yes
c   snake  0.5     3.5       no
d     dog  NaN     3.0      yes
e     dog  5.0    17.0       no
f     cat  1.5     7.5       no
g   snake  4.5    14.5       no
h     cat  NaN     1.0      yes
i     dog  7.0    23.0       no
j     dog  3.0    10.0       no
k  lizard  5.0     1.0      yes

In [28]:
df = df.drop('k')
print(df)

  animal  age  visits priority
a    cat  2.5     8.5      yes
b    cat  3.0    12.0      yes
c  snake  0.5     3.5       no
d    dog  NaN     3.0      yes
e    dog  5.0    17.0       no
f    cat  1.5     7.5       no
g  snake  4.5    14.5       no
h    cat  NaN     1.0      yes
i    dog  7.0    23.0       no
j    dog  3.0    10.0       no

In [29]:
df['animal'].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

In [30]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0    23.0       no
e    dog  5.0    17.0       no
g  snake  4.5    14.5       no
j    dog  3.0    10.0       no
b    cat  3.0    12.0      yes
a    cat  2.5     8.5      yes
f    cat  1.5     7.5       no
c  snake  0.5     3.5       no
h    cat  NaN     1.0      yes
d    dog  NaN     3.0      yes

In [31]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})

In [32]:
df['animal'] = df['animal'].replace('snake', 'python')

In [33]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits  3.5   7.5   8.5   10.0  12.0  14.5  17.0  23.0
animal
cat      NaN   1.5   2.5   NaN   3.0   NaN   NaN   NaN
dog      NaN   NaN   NaN   3.0   NaN   NaN   5.0   7.0
python   0.5   NaN   NaN   NaN   NaN   4.5   NaN   NaN

In [35]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df.loc[df['A'].shift() != df['A']]

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [36]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.095937  0.061845 -0.157782
1  0.397734 -0.254254 -0.143480
2 -0.371426  0.505089 -0.133663
3  0.044584  0.068358 -0.112942
4 -0.147047  0.125480  0.021568

In [37]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df.sum().idxmin()

'c'

In [38]:
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
len(df.drop_duplicates(keep=False))

2

In [39]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)
(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

0    e
1    c
2    d
3    h
4    d
dtype: object

In [41]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

df.groupby('grps')['vals'].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [42]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])
df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
Name: B, dtype: int64

Questions 34-37

In [44]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s[s.index.weekday == 2].sum()

26.906279976901402

In [45]:
s.resample('M').mean()

2015-01-31    0.421383
2015-02-28    0.523107
2015-03-31    0.459634
2015-04-30    0.477002
2015-05-31    0.472672
2015-06-30    0.467847
2015-07-31    0.541667
2015-08-31    0.484214
2015-09-30    0.565808
2015-10-31    0.547707
2015-11-30    0.521415
2015-12-31    0.585498
Freq: M, dtype: float64

In [46]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-29
2015-05-31   2015-05-04
2015-09-30   2015-09-01
2016-01-31   2015-12-29
Freq: 4M, dtype: datetime64[ns]

In [47]:
pd.date_range('2015-01-01', '2016-12-31', freq='WOM-3THU')

DatetimeIndex(['2015-01-15', '2015-02-19', '2015-03-19', '2015-04-16',
               '2015-05-21', '2015-06-18', '2015-07-16', '2015-08-20',
               '2015-09-17', '2015-10-15', '2015-11-19', '2015-12-17',
               '2016-01-21', '2016-02-18', '2016-03-17', '2016-04-21',
               '2016-05-19', '2016-06-16', '2016-07-21', '2016-08-18',
               '2016-09-15', '2016-10-20', '2016-11-17', '2016-12-15'],
              dtype='datetime64[ns]', freq='WOM-3THU')